p.INFO {
    color: black;
}

p.SUCCESS {
    color: #5cb85c;
}

p.DEBUG {
    color: gray;
}

p.WARNING {
    color: #f0ad4e
}

p.ERROR {
    color: #d9534f;
}

html, body {
    height: 100%;
}

.container-fluid {
    height: calc(100% - 279px);
    margin-bottom: -200px;
}

#main-region {
    height: 100%;
}

#main-region > div {
    height: 100%;
}

#main-area {
    height: 100%;
}

#main-area > div {
    height: 100%;
}

#main-area > div > div.row {
    height: 100%;
}

#component-area {
    height: 100%;
}

#component-area > div {
    height: 100%;
}

#component-area-panel {
    height: 100%;
}

#settings-area {
    height: 100%;
}

#settings-area > div {
    height: 100%;
}

#settings-area-panel {
    height: 100%;
}

#work-area {
    height: 100%;
}

#work-area > div {
    height: 100%;
}

#work-area-panel {
    height: 100%;
}

#work-area-content {
    padding: 0;
}

#log-area-content {
    overflow-y: scroll;
    height: 160px;
}

#log-area > div {
    height: 100%;
}

#log-area-panel {
    height: 100%;
}